[Desktop Entry]
Type=Application
Name=Dwarf Fortress (Flatpak)
Icon=org.bay12games.DwarfFortress
Exec=/app/startup.sh
Categories=Game;
StartupWMClass=DwarfFortress
